body {
  margin: 0;
  padding: 0;
}

.content {
  padding-top: 64px; /* Default padding for larger screens */
}

/* Media query for phones */
@media (max-width: 768px) {
  .content {
    padding-top: 60vh; /* Adjust this value for mobile AppBar height */
  }
}

