@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap");

.title {
  font: 48px "Inria Sans", sans-serif;
  color: #4e2a84;
  font-size: 48px;
  font-weight: bold;
  text-align: center;;
}

.subtitle {
  margin-bottom: 30px;
  text-align: center;
}

.vertical-line {
    width: 2px; /* Adjust thickness as needed */
    height: 800px; /* Adjust height as needed */
    color: #4e2a84;
    background-color: #4e2a84;
    margin: 0 100px; /* Optional: Adjust margin for spacing */
  }
