@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap");

/* Ensure that the video container takes up the full width and height */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Wrapper to keep the video responsive */
.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire area */
}

/* Overlay text styling */
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 2vw; /* Responsive font size */
  font-family: "Inria Sans", sans-serif;
}

.overlay-text h1 {
  margin: 0;
}

.title {
  color: #3d2d69;
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
}

.text {
  padding: 20px;
  text-align: center;
  font-size: 1.2vw;
}

.image {
  width: 30vw;
  height: auto;
  max-width: 600px;
  max-height: 600px;
}

.margin {
  margin: 30px 0 30px 0;
}

.button {
  background-color: #3d2d69;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  width: fit-content;
  font-size: 1.5vw;
  font-weight: bold;
}

.button:hover {
  background-color: #645394; /* New background color on hover */
}

.horizontal-line {
  border: none; /* Remove default border */
  height: 1px; /* Adjust thickness as needed */
  background-color: #ccc; /* Adjust color as needed */
  margin: 1px 0; /* Optional: Adjust margin for spacing */
}

.footer {
  margin: 30px 30px 0 30px;
}

@media (max-width: 1280px) {
  .title {
    font-size: 4vw;
  }

  .content {
    font-size: 1.5vw;
  }

  .button {
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  .content {
    font-size: 2vw;
  }

  .button {
    font-size: 3vw;
  }
}
