@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap");

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.3;
}


/* Styling for the main container */
.mainContainer {
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Styling for the outer box */
.outerBox {
  width: 100%;
  background-color: white;
  margin: 50px 0;
  padding: 20px;
  position: relative;
  border: 3px solid #4e2a84; /* Purple rounded border */
  border-radius: 10px; /* Rounded corners */
}