/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../server/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!../server/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./styles/CustomTextField.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.textFieldContainer {
  position: relative;
}

.customTextField .MuiOutlinedInput-root {
  fieldset {
    border-color: #4e2a84;
  }
  &:hover fieldset {
    border-color: #4e2a84;
  }
  &.Mui-focused fieldset {
    border-color: #4e2a84;
  }
}

.customTextField .MuiInputLabel-root {
  color: #adadcd;
}

.customTextField .MuiInputLabel-root.Mui-focused {
  color: #adadcd;
}

.errorAlert {
  margin-top: 8px;
}

.loadingIndicator {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

